.collumn .headline.hl5{
    font-weight: 700;
    color: #d2691e;
    font-size: 42px;
    text-transform: uppercase;
    font-style: italic;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
}